---
import NavUserInfo from "./old/views/user/components/NavUserInfo.vue";
import { navRoutes } from "src/const";
import logo from "@assets/icons-64.png";
---

<div class="navbar">
  <div class="navbar-start">
    <img src={logo.src} alt="logo" height="42" />
    <span class="hidden sm:block color-primary text-6 font-bold"
      >Mindustry 资源站</span
    >
  </div>
  <div class="navbar-center">
    <ul class="menu menu-horizontal">
      {
        navRoutes.map(({ path, name }) => (
          <li>
            <a
              href={path}
              class:list={[{ active: path == Astro.url.pathname }]}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    <NavUserInfo client:idle />
  </div>
</div>
