:80, :443 {
	respond "DEFAULT NOTHING"
}

tinylake.ga {
	respond / "NOTHING"
	reverse_proxy /v2 127.0.0.1:61111
}

www.mindustry.top {
	log {
		output file "/var/log/caddy/access.log" {
			roll_keep_for 7d
		}
	}
	encode zstd gzip
	root * "/srv/resource-site"
	file_server
	@ssr {
		not path_regexp .*\.(html|ico|js|png|css|json)
	}
	handle /api/* {
		reverse_proxy https://mdt.wayzer.top {
			header_up Host {upstream_hostport}
		}
	}
	reverse_proxy @ssr 127.0.0.1:6173 {
		@error status 500 503
		handle_response @error {
			rewrite * /index.html
			file_server
		}
	}
}
