:80, :443 {
	respond "DEFAULT NOTHING"
}

tinylake.ga {
	respond / "NOTHING"
	reverse_proxy /v2 127.0.0.1:61111
}

www.mindustry.top {
    encode zstd gzip
	root * "/srv/resource-site"
	@file {
	    path_regexp .*\.(ico|js|png|css|json)
	}
	@ssr {
	    not path_regexp .*\.(ico|js|png|css|json)
	}
	handle /api/* {
	    reverse_proxy https://mdt.wayzer.top {
	        header_up Host {upstream_hostport}
	    }
	}
	file_server @file {
		hide index.html
	}
	reverse_proxy @ssr 127.0.0.1:6173
}
